<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
  <meta charset="UTF-8">
  <title>AWS Board (스프링 부트)</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"/>

  <style>
    b-example-divider: a{
        color: #0c5460;

        font-size: 10px;
    }

  </style>
</head>

<body>
<div th:fragment="header">
  <div class="b-example-divider"  align="right" style="background-color: #E0E0E0;">

    <th:block th:if="${session.Name =='관리자'}">
      <a th:href="@{/itemregister}" style="text-align:right; color: #0c5460; font-size: 10px; " >상품등록</a>
    </th:block>

    <a class="" href="" style="color: #0c5460;font-size: 10px;">문의 사항</a>
    <a href="#" id="login"  th:if="${session.SID eq null}" style="color: #0c5460;font-size: 10px;">로그인</a>
    <th:block th:unless="${session.SID eq null}">
      <label th:text="${session.Name}" style="color: #0c5460;font-size: 10px;"></label>
      <a th:href="@{/logout}" style="text-align:right; color: #0c5460; font-size: 10px; " >로그아웃</a>
    </th:block>
    <a class="" th:if="${session.SID eq null}" href="membersave" style="color: #0c5460;padding-right:1.0em;font-size: 10px;">회원 가입</a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <a class="navbar-brand" href="/">EVERY WEAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="alert('준비중');">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="alert('준비중');">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="alert('준비중');">Search</button>
      </form>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-12">
  </div>
</div>



<div th:fragment="footer">
  <footer class="row mt-2">
    <div class="col-md-12">
      &copy; 2020 BGSMM
    </div>
  </footer>
</div>

</body>
</html>
